{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": false
  },
  "extends": ["airbnb"],
  "globals": {
    "module": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/no-named-as-default": 0
  }
}
